<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
      <mat-hint align="end">Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email</mat-error>
<!--      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>-->
    </mat-form-field>
    <mat-form-field hintLabel="Please enter your password.">
      <input type="password" matInput placeholder="Password" formControlName="password">
<!--      <mat-hint align="end">Please enter your password.</mat-hint>-->
      <mat-error>Missing password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Sign In</button>
  </form>
</section>
